# Deep Learning A Z Regressão 1 valor - Automóveis

In [ ]:
# pip install tensoflow

In [79]:
# Importando as bibliotecas que serão utilizadas
import pandas as pd          
import tensorflow as tf      # Deep Learning
import sklearn               # Machine Learnin

In [80]:
pd.__version__, tf.__version__, sklearn.__version__

('3.0.0', '2.20.0', '1.8.0')

In [81]:
from tensorflow.keras.models import Sequential  # Cria a estrutura da rede neural camadas em sequência
from tensorflow.keras.layers import Dense       #camada padrão onde todos os neurônios se conectam
from sklearn.preprocessing import OneHotEncoder # Transforma categorias de texto em números 0 e 1
from sklearn.compose import ColumnTransformer   # Aplica transformações específicas em colunas selecionadas

In [82]:
# https://www.kaggle.com/datasets/vfsousas/autos
base = pd.read_csv('/home/Ront/Documentos/Card-14/Seção 6/autos.csv' , encoding = 'ISO-8859-1')
base

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [83]:
# Remoção dos atributos que não irão influenciar em prever o preço
base = base.drop('dateCrawled', axis = 1) 
base = base.drop('dateCreated', axis = 1)
base = base.drop('nrOfPictures', axis = 1)
base = base.drop('postalCode', axis = 1)
base = base.drop('lastSeen', axis = 1)
base

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [84]:
base['name'].value_counts()

name
Ford_Fiesta                                     657
BMW_318i                                        627
Opel_Corsa                                      622
Volkswagen_Golf_1.4                             603
BMW_316i                                        523
                                               ...
turbo_defekt                                      1
Suche_t4___vito_ab_6_sitze                        1
Smart_smart_leistungssteigerung_100ps             1
VW_Golf_Kombi_1_9l_TDI                            1
BMW_M135i_vollausgestattet_NP_52.720____Euro      1
Name: count, Length: 233531, dtype: int64

In [85]:
# removendo a coluna name pq ela possui valores unicos
base = base.drop('name', axis = 1)

In [86]:
base['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [87]:
# retirando essa coluna pq se n vai o modelo n conseguira prever o preço de carros em revendas
base = base.drop('seller', axis = 1)

In [88]:
base['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [89]:
# Esse é o mesmo caso da coluna seller
base = base.drop('offerType', axis = 1)

In [90]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [91]:
#Existem mais de 12 mil registros com preço menor ou igual a 10,00
base.loc[base['price'] <= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [92]:
# Removendo esse registro por não representarem um grande montante
base['price'].mean()

np.float64(17295.14186548524)

In [93]:
base.shape

(371528, 12)

In [94]:
base.loc[base['price'] > 350000] # Vendo se o  registros com preço maior que 350.000,00

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

In [95]:
base.shape

(371528, 12)

In [96]:
base.loc[pd.isnull(base['vehicleType'])] # Identificando registros com valores nulos na coluna 'vehicleType'

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [97]:
base['vehicleType'].value_counts()

vehicleType
limousine     95894
kleinwagen    80023
kombi         67564
bus           30201
cabrio        22898
coupe         19015
suv           14707
andere         3357
Name: count, dtype: int64

In [98]:
# É usando a moda para preencher os valores nulos da coluna 'vehicleType'
base['vehicleType'].mode()

0    limousine
Name: vehicleType, dtype: str

In [99]:
base.loc[pd.isnull(base['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [100]:
# Utilizando a moda para preencher os valores nulos da coluna gearbox
base['gearbox'].value_counts()

gearbox
manuell      274214
automatik     77105
Name: count, dtype: int64

In [101]:
base.loc[pd.isnull(base['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
119,0,test,kleinwagen,1999,NaN,0,NaN,5000,0,benzin,volkswagen,NaN
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [102]:
base.loc[pd.isnull(base['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [103]:
base['fuelType'].value_counts()

fuelType
benzin     223857
diesel     107746
lpg          5378
cng           571
hybrid        278
andere        208
elektro       104
Name: count, dtype: int64

In [104]:
base.loc[pd.isnull(base['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [105]:
base['notRepairedDamage'].value_counts()

notRepairedDamage
nein    263182
ja       36286
Name: count, dtype: int64

In [106]:
# Preenchendo os valores nulos com a moda usando um dicionario
valores = {'vehicleType': 'limousine',
           'gearbox': 'manuell',
           'model': 'golf',
           'fuelType': 'benzin',
           'notRepairedDamage': 'nein'}

In [107]:
base = base.fillna(value = valores) # Aplicando a substituição dos valores nulos

In [108]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,limousine,2005,manuell,0,golf,20000,1,benzin,sonstige_autos,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [109]:
base.isnull().sum() # vendo se a algum valor nulo

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [110]:
base.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='str')

In [111]:
X = base.iloc[:, 1:12].values # Atributos previsores
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      shape=(371528, 11), dtype=object)

In [112]:
y = base.iloc[:, 0].values # Atributo classe
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], shape=(371528,))

In [113]:
base['brand'].value_counts()

brand
volkswagen        79640
bmw               40274
opel              40136
mercedes_benz     35309
audi              32873
ford              25573
renault           17969
peugeot           11027
fiat               9676
seat               7022
mazda              5695
skoda              5641
smart              5249
citroen            5182
nissan             5037
toyota             4694
sonstige_autos     3982
hyundai            3646
mini               3394
volvo              3327
mitsubishi         3061
honda              2836
kia                2555
alfa_romeo         2345
suzuki             2328
porsche            2215
chevrolet          1845
chrysler           1452
dacia               900
jeep                807
daihatsu            806
subaru              779
land_rover          770
jaguar              621
trabant             591
daewoo              542
saab                530
rover               490
lancia              484
lada                225
Name: count, dtype: int64

In [114]:
base.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='str')

In [115]:
# Transformando as colunas categóricas em colunas numéricas
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), 
                                                 [0, 1, 3, 5, 8, 9, 10] # Índices das colunas categóricas
                                                 )], 
                                  remainder='passthrough' # Mantém as colunas que não foram transformadas
                                  )

In [116]:
X = onehotencoder.fit_transform(X).toarray()
X

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]],
      shape=(371528, 316))

In [ ]:
base.shape

In [117]:
X.shape

(371528, 316)

In [118]:
(316 + 1) / 2

158.5

In [119]:
# Criando a rede neural
regressor = Sequential([
    tf.keras.layers.InputLayer(shape = (316,)), # 316 colunas
    tf.keras.layers.Dense(units = 158, activation = 'relu'), # 316 + 1 / 2 = 158
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 1, activation = 'linear') 
])

2026-02-12 14:06:26.723972: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

In [120]:
regressor.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 158)            │        50,086 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 158)            │        25,122 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │           159 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [121]:
12000 - 13000, 11500 - 10000
(abs(12000 - 13000) + abs(11500 - 10000)) / 2

1250.0

In [122]:
regressor.compile(loss = 'mean_absolute_error', optimizer = 'adam', metrics = ['mean_absolute_error'])

In [123]:
regressor.fit(X, y, batch_size = 300, epochs = 100)

Epoch 1/100

2026-02-12 14:07:14.231875: W external/local_xla/xla/tsl/framework/cpu_allocator_impl.cc:84] Allocation of 469611392 exceeds 10% of free system memory.

1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 15415.8008 - mean_absolute_error: 15415.8008
Epoch 2/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14843.3223 - mean_absolute_error: 14843.3223
Epoch 3/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14607.4551 - mean_absolute_error: 14607.4551
Epoch 4/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14485.8057 - mean_absolute_error: 14485.8057
Epoch 5/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14393.9395 - mean_absolute_error: 14393.9395
Epoch 6/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14338.2891 - mean_absolute_error: 14338.2891
Epoch 7/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14281.7891 - mean_absolute_error: 14281.7891
Epoch 8/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14226.3203 - mean_absolute_error: 14226.3203
Epoch 9/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14188.6611 - mean_absolute_error: 14188.6611
Epoch 10/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14160.3672 - mean_absolute_error: 14160.3672
Epoch 11/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14113.6416 - mean_absolute_error: 14113.6416
Epoch 12/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14088.8379 - mean_absolute_error: 14088.8379
Epoch 13/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14063.0977 - mean_absolute_error: 14063.0977
Epoch 14/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14032.8652 - mean_absolute_error: 14032.8652
Epoch 15/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14030.5371 - mean_absolute_error: 14030.5371
Epoch 16/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14007.9756 - mean_absolute_error: 14007.9756
Epoch 17/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 14007.5098 - mean_absolute_error: 14007.5098
Epoch 18/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13999.9648 - mean_absolute_error: 13999.9648
Epoch 19/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 13981.4414 - mean_absolute_error: 13981.4414
Epoch 20/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13999.0605 - mean_absolute_error: 13999.0605
Epoch 21/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13972.4561 - mean_absolute_error: 13972.4561
Epoch 22/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13978.0996 - mean_absolute_error: 13978.0986
Epoch 23/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13978.3027 - mean_absolute_error: 13978.3027
Epoch 24/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13979.1475 - mean_absolute_error: 13979.1475
Epoch 25/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13965.6543 - mean_absolute_error: 13965.6543
Epoch 26/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13956.3281 - mean_absolute_error: 13956.3281
Epoch 27/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13950.4609 - mean_absolute_error: 13950.4609
Epoch 28/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13951.9834 - mean_absolute_error: 13951.9834
Epoch 29/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13953.9141 - mean_absolute_error: 13953.9141
Epoch 30/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13940.3936 - mean_absolute_error: 13940.3936
Epoch 31/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13932.8027 - mean_absolute_error: 13932.8027
Epoch 32/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13924.7217 - mean_absolute_error: 13924.7217
Epoch 33/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13939.0215 - mean_absolute_error: 13939.0215
Epoch 34/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13923.1963 - mean_absolute_error: 13923.1963
Epoch 35/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13912.2764 - mean_absolute_error: 13912.2764
Epoch 36/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13921.7139 - mean_absolute_error: 13921.7139
Epoch 37/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13912.0352 - mean_absolute_error: 13912.0352
Epoch 38/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13913.1338 - mean_absolute_error: 13913.1338
Epoch 39/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13904.0049 - mean_absolute_error: 13904.0049
Epoch 40/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13904.9482 - mean_absolute_error: 13904.9482
Epoch 41/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13911.0654 - mean_absolute_error: 13911.0654
Epoch 42/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13901.7949 - mean_absolute_error: 13901.7949
Epoch 43/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13898.1914 - mean_absolute_error: 13898.1924
Epoch 44/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13902.7080 - mean_absolute_error: 13902.7080
Epoch 45/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13895.7666 - mean_absolute_error: 13895.7666
Epoch 46/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13892.1660 - mean_absolute_error: 13892.1660
Epoch 47/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13881.7969 - mean_absolute_error: 13881.7969
Epoch 48/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13879.5527 - mean_absolute_error: 13879.5527
Epoch 49/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13889.6562 - mean_absolute_error: 13889.6562
Epoch 50/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13879.2461 - mean_absolute_error: 13879.2480
Epoch 51/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13883.4395 - mean_absolute_error: 13883.4395
Epoch 52/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13889.0820 - mean_absolute_error: 13889.0820
Epoch 53/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13865.5918 - mean_absolute_error: 13865.5918
Epoch 54/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13870.4648 - mean_absolute_error: 13870.4648
Epoch 55/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13887.8857 - mean_absolute_error: 13887.8857
Epoch 56/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13862.3770 - mean_absolute_error: 13862.3770
Epoch 57/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13872.2549 - mean_absolute_error: 13872.2549
Epoch 58/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13862.9287 - mean_absolute_error: 13862.9287
Epoch 59/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13864.9248 - mean_absolute_error: 13864.9248
Epoch 60/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13853.9297 - mean_absolute_error: 13853.9297
Epoch 61/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13855.4766 - mean_absolute_error: 13855.4766
Epoch 62/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13857.9287 - mean_absolute_error: 13857.9287
Epoch 63/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13850.9062 - mean_absolute_error: 13850.9062
Epoch 64/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13854.5908 - mean_absolute_error: 13854.5908
Epoch 65/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13846.8662 - mean_absolute_error: 13846.8662
Epoch 66/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13843.1504 - mean_absolute_error: 13843.1523
Epoch 67/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13846.2959 - mean_absolute_error: 13846.2959
Epoch 68/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13846.8818 - mean_absolute_error: 13846.8818
Epoch 69/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13855.8379 - mean_absolute_error: 13855.8398
Epoch 70/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13845.3828 - mean_absolute_error: 13845.3828
Epoch 71/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13840.7793 - mean_absolute_error: 13840.7793
Epoch 72/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13854.7686 - mean_absolute_error: 13854.7686
Epoch 73/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13836.2334 - mean_absolute_error: 13836.2334
Epoch 74/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13837.2432 - mean_absolute_error: 13837.2432
Epoch 75/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13836.9375 - mean_absolute_error: 13836.9365
Epoch 76/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13832.8584 - mean_absolute_error: 13832.8584
Epoch 77/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13833.1611 - mean_absolute_error: 13833.1611
Epoch 78/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13831.1768 - mean_absolute_error: 13831.1768
Epoch 79/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13824.9229 - mean_absolute_error: 13824.9229
Epoch 80/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13831.8291 - mean_absolute_error: 13831.8291
Epoch 81/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13827.8916 - mean_absolute_error: 13827.8916
Epoch 82/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13830.0293 - mean_absolute_error: 13830.0293
Epoch 83/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13817.6045 - mean_absolute_error: 13817.6045
Epoch 84/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13821.3984 - mean_absolute_error: 13821.3984
Epoch 85/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13823.4111 - mean_absolute_error: 13823.4111
Epoch 86/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13823.9297 - mean_absolute_error: 13823.9297
Epoch 87/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13813.7666 - mean_absolute_error: 13813.7666
Epoch 88/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13815.6709 - mean_absolute_error: 13815.6709
Epoch 89/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13818.5166 - mean_absolute_error: 13818.5166
Epoch 90/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13809.0791 - mean_absolute_error: 13809.0791
Epoch 91/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13812.5078 - mean_absolute_error: 13812.5078
Epoch 92/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13811.0537 - mean_absolute_error: 13811.0537
Epoch 93/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13820.7920 - mean_absolute_error: 13820.7900
Epoch 94/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13809.1455 - mean_absolute_error: 13809.1455
Epoch 95/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13811.5820 - mean_absolute_error: 13811.5820
Epoch 96/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13808.0068 - mean_absolute_error: 13808.0068
Epoch 97/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13801.9551 - mean_absolute_error: 13801.9551
Epoch 98/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13797.2168 - mean_absolute_error: 13797.2168
Epoch 99/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13805.9678 - mean_absolute_error: 13805.9678
Epoch 100/100
1239/1239 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 13801.6338 - mean_absolute_error: 13801.6338

In [125]:
X.shape

(371528, 316)

In [127]:
previsoes = regressor.predict(X) # Utilizando os dados para prever

2026-02-12 14:13:21.844530: W external/local_xla/xla/tsl/framework/cpu_allocator_impl.cc:84] Allocation of 469611392 exceeds 10% of free system memory.

11611/11611 ━━━━━━━━━━━━━━━━━━━━ 6s 537us/step

In [128]:
previsoes

array([[ 1936.5835],
       [11506.085 ],
       [13693.372 ],
       ...,
       [ 7638.79  ],
       [ 3912.0295],
       [27765.266 ]], shape=(371528, 1), dtype=float32)

In [129]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], shape=(371528,))

In [130]:
y.mean()

np.float64(17295.14186548524)

In [131]:
previsoes.mean()

np.float32(6158.5615)